---
import MainLayout from "../../layouts/MainLayout.astro";
import PostLink from "../../components/PostLink.astro";

export async function getStaticPaths({}) {
  const allPosts = await Astro.glob('../posts/*.md')
  // Creates a new Set (To ignore repeated values) 
  // containing all the tags of all pages in a 1D array
  // And makes a new 1D array out of said Set
  const uniqueTags =
    [...new Set(allPosts.map( post => post.frontmatter.tags).flat())]
  return uniqueTags.map(tag => {
    const filteredPosts = allPosts.filter(post => post.frontmatter.tags.includes(tag))
    return {
      params: {tag},
      props: {posts: filteredPosts}
    }
  })
}


const {tag} = Astro.params
const capTag = tag[0].toUpperCase() + (String(tag).slice(1))

const {posts} = Astro.props
---

<MainLayout title={capTag}>
<p>Posts tagged with {tag}</p>

  <ul>
    {posts.map(post => <li><PostLink post={post}/></li>)}
  </ul>
</MainLayout>
